

section.top-page {
    background: url("https://st4.depositphotos.com/1484771/37819/i/450/depositphotos_378193086-stock-photo-literature-reading-concept-banner-header.jpg");
    background-size: cover;
    height: 80vh;
    padding: 25px;

}

 body {
    margin: 0 auto;
 }

 * { 
    font-family: Arial, Helvetica, sans-serif, cursive;

 }

 header.header {
    display: flex;
    align-items: center;
    /*background-color: darkblue;*/
 }

 header.header img {
    width: 150px;
 }

 nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /*background-color: lightblue;*/
    width: 400px;
    margin-left: 30px;
 }

 nav.nav li {
    color: white; 
 }

 .landing-page {
    padding: 20px 50px;    
 }

 .gros-titre {
    color: white;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    font-weight: 100;  
 }

 .scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
 }

 .services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
 }

 .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .delivery-icon {
    font-size: 50px;
    color: aquamarine;
 }

 .service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
 }